page-learning {
    ion-title{
        text-align:center; 
        padding-right:48px;  /*返回按钮为48px*/
       
    }
        .ion-md-add-circle:before{

                font-size:30px !important;
            }
            .nav_style{
                margin-top:3%;
                }
    /*
    ion-header{
        text-align:center;
        background-color:#00adb5 ;
        .learning{
            text-align:center;
            display: flex;
            width: 100%;
            height: 50px;
            line-height:50px;
            .learning1{
                width: 20%;
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .learning2{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                width: 60%;
            }
            .learing3{
                width:20%;
                height:50px;
                text-align:center;
            }
            .nav_style{
            //    margin-top:10px;
            margin-top:2%;
            }
            .ion-md-add-circle:before{
                font-size:30px !important;
            }
            
        }
    }
    */
    fr{
        float: right;
    }
    .nav_style{
        position: absolute;
        right: 20px;
        top: 2px;
    }
}
