page-mytalk {
    ion-header{
        ion-title{
            text-align:center; 
            padding-right:48px;  /*返回按钮为48px*/
        }
    }
    ion-content{
        background-color: rgb(250,250,250)!important;
        ul{
            padding: 0;
            li{    
                .mcoursecon{
                    //background-color: aquamarine;
                    width: 100%;
                    font-size: 18px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    p{
                        //background-color: #fff;
                        font-size: 110%;
                    }
                }
            }
        }
    }
}
