page-affirm {
    .scroll-content{
        padding:0px!important;
        margin:0px;
    }
    ion-title{   
        padding-right:48px;  /*返回按钮为48px*/
        text-align:center;
    }
    ion-content{
        width:100%;
        .top{
            height:19%;
            margin-top:20px;
            padding:0 5%;
            width:100%;
            .img{
                float:left;
                width:23%;
                margin-right:4%;
                img{
                    border-radius:50%;
                }
            }
            .jianjie{
                width:55%;
                float:left;
                .p1{
                    margin:5% 0;  /*margin百分比的属性相对于父元素的宽度*/
                }
                p{
                    margin:0;
                }
            }
            button{
                float:left;
                width:18%;
                margin:0;
                margin-top:5%;
                height:30px;
                border-radius:10%;
                color:white;
                font-size:13px;
            }
            
        }
        .middle{
            margin-top:3%;
            border-top:2px solid rgb(222,222,222);
            p{
                padding:5% 0 5% 10%;
                margin:0;
            }
            .p1{
                border-bottom:2px solid rgb(222,222,222);
            }
        }
        .bottom{
            margin-top:15%;  //margin-top和bottom父元素宽度的20%
            button{
                padding:0;
                margin:0 10%!important; //margin-left right相对于父元素的宽度
                width:80%!important;
                color:black!important;
                border-radius:5%;
            }
        }
    }
}
