page-forget {
    ion-header{
        .fg1{
            display: flex;
            width: 100%;
            height: 50px;
            background-color: #00adb5;
            .fg1-1{
                width: 20%;
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .fg1-2{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                color: #fff;
                width: 60%;
            }
        }
    }
    ion-content{
        background: url(../assets/imgs/loginbg1.jpg) bottom center no-repeat;
        background-size: 100% 100%;              
        .fg2{
            width: 100%;
            margin-top: 10%;
            .fg2-3{
                display: flex;
                align-items: center;
                justify-content: center;
                //background-color: red;
                ion-item{
                    .input-cover{
                        position: static;
                    }
                    width: 70%;
                    padding-top: 3%;
                    margin-bottom: 5%;
                    background: transparent; 
                    
                } 
                .fg2-1{    
                    width: 52%;
                    font-size: 12px;
                    margin-bottom: 5%;
                }  
            }
                .fgbut{
                    width: 18%;
                    display: flex;
                    justify-content: center;
                    button{
                        opacity: 0.7;
                        width: 100%;
                        height: 35px;
                        font-size: 6px;
                        background-color: #fff;
                        border:1px solid #878c8e;
                        border-radius: 5px;
                        span{
                            font-size: 6px;
                        }
                    }
                }
                
                .fg2-0{
                    padding-top: 10%;
                }
                
                ion-icon{
                    color:#878c8e;
                    font-size: 30px;
                }
                input::-webkit-input-placeholder {
                    color: #878c8e;
                    font-size: 12px;
                    opacity: 0.7;
                }
                .fgbut1{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                    width: 50%;
                    button{
                        opacity: 0.7;
                        width: 100%;
                        height: 40px;
                        font-size: 8px;
                        background-color: #fde400;
                        border:1px solid #878c8e;
                        border-radius: 5px;
                        span{
                        font-size: 8px;
                        }
                    }
                }
        }
              
    }
}
