page-message {
    .scroll-content{
        padding:0px!important;
        margin:0px;
    }
    ion-title{
        text-align:center;
    }
    ion-content{
        width:100%;
        height:100%;
        .navList{
            padding:0;
            margin:0;
            height:100%;
        li{
            float:left;
            width:100%;
            height:12.5%;
            position:relative;
            img{
                float:left;
                width:15%;
                border-radius:50%;
                margin-left:3%;
                padding:1% 0;
           }
           .middle{
               float:left;
               margin-left:3%;
               padding:1% 0;
               p{
                   margin:0; padding:0;
                   color:rgb(136,136,136);
               }
               .p1{
                   margin-bottom:15%; //相对于父元素middle的宽度
                   font-size:18px;
                   color:black;
             }
           }
           .right{
               float:right;
               width:15%;
               padding:2% 0;
               p{
                   margin:0;
                   color:rgb(136,136,136);
                }
           }
           .line{
            background-image: linear-gradient(to right,rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 15%,rgba(0,0,0,0.1) 85%,rgba(0,0,0,0) 100%);
            width:100%;height:2px;
            position:absolute;
            bottom:1px;
           }
        }
    }
    }

}
