page-mydataforstudent {
    ion-header{
        ion-title{
            text-align:center; 
            padding-right:48px;
        }
    }
    ion-content{
        background-color: rgb(250,250,250)!important;
        .mdfscon{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5%;
            ion-list{
                width: 100%;
                ion-item{
                    background: transparent;
                    align-items: center;
                    input::-webkit-input-placeholder {
                        color: #878c8e;
                        font-size: 14px;
                        opacity: 0.7;
                        align-items: center;
                    }
                    ion-label{
                        font-size: 16px;
                    }
                }
            }
        }
        .mdfscon1{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 40px;
            button{
                margin-top: 10%;
                width: 50%;
                height: 100%;
                border-radius: 20px;
                color:white;
                background-color: #00adb5;
            }
        }
    }
}
