page-myjob {
    .nav2{
        position: absolute;
        right: 20px;
        top: 5px;
    }
    div{
        float: left;
    }
    .ite{
        width: 85%;
    }
    .ion{
        width: 15%;
        margin-top: 30px;
    }
}
