page-myclass {
    div{
        float: left;
    }
    .it{
        width: 80%;
    }
    .butt{
        width: 20%;
        margin-top: 10px;
    }
    .nav1{
        position: absolute;
        right: 20px;
        top: 5px;
    }
}
