page-publish {
    .nav{
        position: absolute;
        right: 20px;
        top: 20px;
    }
    .input1{
        width: 80%;
        height: 80px;
        border: none;
    }
    .ipu1{
        width: 60px;
        height: 60px;
        margin-left: 10%;
    }
    .ipu2{
        width: 60px;
        height: 60px;
        margin-left: 10%;
    }
    .ipu3{
        width: 60px;
        height: 60px;
        margin-left: 10%;
    }
    .but{
        margin-top: 20px;
        margin-left: 10%
    }
}
