page-teachers {
    ion-header{
        .teachs{
            display: flex;
            width: 100%;
            height: 50px;
            .teachs1{
                width: 20%;
                font-size: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .teachs2{
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 18px;
                width: 60%;
            }
        }
    }
    ion-content{
        background-color: rgb(245,245,245) !important;
        div{
            float: left;
        }
        .teachs3{
            width: 85%；
        }
        .teachs4{
            width: 15%;
            margin-top: 40px;
        }
        .teachs5{
            width: 100%;
            height: 130px;
            input{
                width: 80%;
                height: 100px;
                margin-left: 10%;
                margin-top: 30px;
            }
        }
        .teachs6{
            width: 50%;
            height: 80px;
            img{
                width: 80px;
                height: 60px;            
                margin-left: 60px;
            }
        }
    }
}
