
@font-face {
  font-family: 'iconfont';  /* project id 943033 */
  src: url('//at.alicdn.com/t/font_943033_swlgsctlw4d.eot');
  src: url('//at.alicdn.com/t/font_943033_swlgsctlw4d.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_943033_swlgsctlw4d.woff') format('woff'),
  url('//at.alicdn.com/t/font_943033_swlgsctlw4d.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_943033_swlgsctlw4d.svg#iconfont') format('svg');
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyou:before { content: "\e601"; }

.icon-weibiaoti1:before { content: "\e600"; }

.icon-tuijian:before { content: "\e657"; }

.icon-arr-right:before { content: "\e602"; }

.icon-zuoye:before { content: "\e605"; }

.icon-kecheng:before { content: "\e60a"; }

.icon-dingwei:before { content: "\e603"; }

.icon-zuoye1:before { content: "\e647"; }

.icon-news:before { content: "\e63f"; }

.icon-xiangyou1:before { content: "\e604"; }

.icon-wendang-copy-copy:before { content: "\e659"; }

