page-talk {
    .scroll-content{
        padding:0px!important;
        margin:0px;
    }
    ion-title{
        text-align:center; 
        padding-right:48px;  /*返回按钮为48px*/
    }
    .messages{
        width:100%;
        padding:3% 4%;
      }
      img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    
      .pic-left {
        float:left;
        margin-right:2%;
      }
    
      .pic-right{ 
          float:right;
          margin-left:2%;
      }
     .bubble {         //气泡
        border-radius: 5px;
        display: inline-block;
        padding: 10px 18px;
        position: relative;
      }
      .bubble:before {   //气泡下方三角设置
          content:'\00a0';//特殊字符空格
          height: 16px;
          width: 10px;
          display:block;
          position: absolute;
          bottom: -8px;
       }
     .bubble.left {
        background-color: #e6e5eb;
        float: left;
      }
    
      .bubble.left:before {
        background-color: #e6e5eb;
        left: 10px;
        transform: rotate(70deg) ; //本来是个长方形，旋转70度，变成三角形
      }
    
      .bubble.right {
        background-color: #158ffe;
        color: white;
        float: right;
      }
    
      .bubble.right:before {
        background-color: #158ffe;
        right: 10px;
        transform: rotate(120deg);
      }
    
      .c{
        clear: both !important;   //左侧和右侧均不允许出现浮动元素 避免在下一行的元素在上一行堆积
      }
      #a{width:100%;  //表情
        height:24%;
        border:1px solid #C0C0C0;
        background-color:#fff;
        position:absolute;
        bottom:22%;
        display:none;
        overflow:hidden;
        img{
            float:left;
            width:20px;
            height:20px;
        }
        }
      ion-footer{
            ion-input{
                float:left;
              width:60%!important;
              border:2px solid rgb(212,212,212);
              border-radius:4%;
              margin:2% 2%;

              .text-input{
                  margin:10px 8px;
              }
          }
          span{
              float:left;
              font-size:30px;
              margin:2% 2%;
              position: relative;
          }
          button{
              float:left;
              width:10%;
              padding:0;
              margin-top:3%!important;
              .button-inner{
                  font-size:14px!important;
              }
          }
        
    }

    
 }

