<!--
  Generated template for the TalkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<!--发送消息和表情能实现-->
<ion-header>

  <ion-navbar color="orange">
    <ion-title >{{touser.username}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
    <div *ngFor="let message of messages" class="messages">
        <!-- 判断被发送人消息是否发送 ，根据true和false决定两个div哪个显现-->
        <div *ngIf="touser.id === message.userId">
          <img class="pic-left" [src]="touser.pic"/>
          <div class="bubble left">  
            <div class="message" [innerHTML]="message.text"> </div>
          </div>
          <div class="c"></div>   <!--避免下一行的元素在上一行堆积-->
        </div>
    
        <!-- 判断发送人消息是否发送 ，根据true和false决定两个div哪个显现-->
        <div *ngIf="user.id === message.userId">
          <img  class="pic-right" [src]="user.pic"/>
          <div class="bubble right ">
            <div class="message" [innerHTML]="message.text"></div>
          </div>
        </div>
        <div class="c"></div>
    </div>

</ion-content>

<!-- 底部固定的输入框 -->
<div id="a"></div>
<ion-footer>
        <ion-input [(ngModel)]="txt" placeholder="请输入内容" [ngModelOptions]="{standalone: true}"></ion-input>
        <span><ion-icon name="md-happy" id="face"></ion-icon></span>  <!--表情-->
        <span><ion-icon name="md-add"></ion-icon></span>
        <button ion-button  (click)="send(txt)" style="height:30px;">发送</button>  <!--点击发送按钮可以发送数据-->
</ion-footer>