<!--
  Generated template for the HotCoursePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="orange">
  </ion-navbar>

</ion-header>


<ion-content>
    <ul class="navList">
        <li *ngFor="let item of arr;let idx=index;" (click)="isClick(idx)" [class.first]="isActive==idx"><button ion-button clear>{{this.item}}</button></li>
    </ul>
    <div [ngSwitch]="isActive" class="right">   <!--控制下方内容切换-->
      <div *ngSwitchCase="0">
        <ul>
          <li class="lis" *ngFor="let item0 of arr0;let idx=index;">
            <img src="../../assets/imgs/mine2.png"/>  <!--{{item0?.img}}-->
            <div class="middle">
                <p class="p1">教师：{{item0?.name}}</p>
                <p>擅长于：{{item0?.message}}</p>
            </div>
         </li>
         </ul>
      </div>
      <div *ngSwitchCase="1">
          <ul>
              <li class="lis" *ngFor="let item1 of arr1;let idx=index;">
                <img src="../../assets/imgs/mine2.png"/> 
                <div class="middle">
                    <p class="p1">教师：{{item1?.name}}</p>
                    <p>擅长于：{{item1?.message}}</p>
                </div>
             </li>
             </ul>
      </div>
      <div *ngSwitchCase="2">
          <ul>
              <li class="lis" *ngFor="let item2 of arr2;let idx=index;">
                <img src="../../assets/imgs/mine2.png"/> 
                <div class="middle">
                    <p class="p1">教师：{{item2?.name}}</p>
                    <p>擅长于：{{item2?.message}}</p>
                </div>
             </li>
             </ul>
      </div>
      <div *ngSwitchCase="3">
          <ul>
              <li class="lis" *ngFor="let item3 of arr3;let idx=index;">
                <img src="../../assets/imgs/mine2.png"/> 
                <div class="middle">
                    <p class="p1">教师：{{item3?.name}}</p>
                    <p>擅长于：{{item3?.message}}</p>
                </div>
             </li>
            </ul>
      </div>
      <div *ngSwitchCase="4">
          <ul>
              <li class="lis" *ngFor="let item4 of arr4;let idx=index;">
                <img src="../../assets/imgs/mine2.png"/> 
                <div class="middle">
                    <p class="p1">教师：{{item4?.name}}</p>
                    <p>擅长于：{{item4?.message}}</p>
                </div>
             </li>
            </ul>
      </div>
      <div *ngSwitchCase="5">
          <ul>
              <li class="lis" *ngFor="let item5 of arr5;let idx=index;">
                <img src="../../assets/imgs/mine2.png"/> 
                <div class="middle">
                    <p class="p1">教师：{{item5?.name}}</p>
                    <p>擅长于：{{item5?.message}}</p>
                </div>
             </li>
            </ul>
      </div>
      <div *ngSwitchCase="6">
          <ul>
              <li class="lis" *ngFor="let item6 of arr6;let idx=index;">
                <img src="../../assets/imgs/mine2.png"/> 
                <div class="middle">
                    <p class="p1">教师：{{item6?.name}}</p>
                    <p>擅长于：{{item6?.message}}</p>
                </div>
             </li>
          </ul>
     </div>
     <div *ngSwitchCase="7">
        <ul>
            <li class="lis" *ngFor="let item7 of arr7;let idx=index;">
              <img src="../../assets/imgs/mine2.png"/> 
              <div class="middle">
                  <p class="p1">教师：{{item7?.name}}</p>
                  <p>擅长于：{{item7?.message}}</p>
              </div>
           </li>
        </ul>
    </div>
    <div *ngSwitchCase="8">
        <ul>
            <li class="lis" *ngFor="let item8 of arr8;let idx=index;">
              <img src="../../assets/imgs/mine2.png"/> 
              <div class="middle">
                  <p class="p1">教师：{{item8?.name}}</p>
                  <p>擅长于：{{item8?.message}}</p>
              </div>
           </li>
        </ul>
    </div>
  </div>
</ion-content>
