page-pjxiangqing {
    ion-header{
        ion-title{
            text-align:center; 
            padding-right:48px;  /*返回按钮为48px*/
        }
    }
    ion-content{
        background: url("../assets/imgs/pj1.png") no-repeat fixed center;
        background-size: 140%;
        width: 100%;
        .mtalkcon1{margin-top: 30%;
            p{
                font-size: 130%;
                line-height: 160%;
                font-family: "楷体";
            }
        }
    }
}
